body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.calculator {
    background-color: #48494a;
    width: 500px;
    height: 283px;
    border: 1px solid #48494a;
    border-radius: 5px;
    box-shadow: 0px 5px 25px -3px rgba(0, 0, 0, 0.75);
    margin: 15px;
}

.output-container {
    color: #e5e5e5;
    font-family: 'Courier New', Courier, monospace;
}

.output-top {
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5px;
    color: #c7c7c7;
}

.output-bottom {
    height: 43px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    padding-right: 5px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: 50px;
    height: 43px;
    background-color: #5a5b5c;
    color: #e5e5e5;
    box-sizing: border-box;
    border: 1px solid #48494a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgb(93, 207, 71);
    cursor: pointer;
    color: #48494a;
}

.orange {
    background-color: #fe9e09;
    font-size: 1.2em;
}

.number {
    background-color: #757677;
    font-size: 1.2em;
}

.big {
    width: 100px;
}

.rounded-bl {
    border-radius: 0 0 0 5px;
}

.rounded-br {
    border-radius: 0 0 5px 0;
}

.superscript {
    font-size: 0.7em;
    position: relative;
    top: -5px;
}

.subscript {
    font-size: 0.7em;
    position: relative;
    top: +5px;
}