@font-face {
    font-family: Digital7;
    src: url(digital_7_mono.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.calculator {
    background-color: #48494a;
    width: 350px;
    height: 258px;
    border: 1px solid #48494a;
    border-radius: 5px;
    box-shadow: 0px 5px 25px -3px rgba(0, 0, 0, 0.75);
    margin: 15px;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.output-bottom {
    height: 43px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8em;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #48494a;
    color: #e5e5e5;
    font-family: 'Digital7', 'Courier New', Courier, monospace;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    overflow-x: hidden;
}

#output {
    white-space: nowrap;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: 50px;
    height: 43px;
    background-color: #5a5b5c;
    color: #e5e5e5;
    box-sizing: border-box;
    border: 1px solid #48494a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgb(93, 207, 71);
    cursor: pointer;
    color: #48494a;
}

.orange {
    background-color: #fe9e09;
    font-size: 1.2em;
}

.number {
    background-color: #757677;
    font-size: 1.2em;
}

.big {
    width: 100px;
}

.rounded-bl {
    border-radius: 0 0 0 5px;
}

.rounded-br {
    border-radius: 0 0 5px 0;
}

.superscript {
    font-size: 0.7em;
    position: relative;
    top: -5px;
}

.subscript {
    font-size: 0.7em;
    position: relative;
    top: +5px;
}

#switch-theme {
    font-size: 0.7em;
}

/* light theme */

.button-light {
    background-color: #e5e5e5;
    color: #48494a;
}

.output-bottom-light {
    background-color: #e5e5e5;
    color: #48494a;
}

.number-light {
    background-color: #b1b1b1;
}

.blue {
    background-color: #6098d8;
}