/* light theme */

.button-light {
    background-color: #e5e5e5;
    color: #48494a;
}

.output-bottom-light {
    background-color: #e5e5e5;
    color: #48494a;
}

.number-light {
    background-color: #b1b1b1;
}

.blue {
    background-color: #6098d8;
}